.zxTabBar {
  width: 100vw;
  background-color: #f5f6f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 12rpx;

  .customTabBar_part {
      color: #141B22;
      font-size: 20rpx;
      text-align: center;
      padding-bottom: 10rpx;
      position: relative;

      .customTabBar_part_img {
          width: 48rpx;
          height: 48rpx;
          margin-bottom: 2rpx;
          display: block;
          // border-radius: 50%;

          &.big {
              width: 72rpx;
              height: 72rpx;
          }

      }
  }
}

.red {
  width: 15rpx;
  height: 15rpx;
  background-color: red;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
}