.custom-navigation{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 9999;
  padding-bottom: 20rpx;
  .custom-navigation-content{
    display: flex;
    align-items: center;
    padding:0 32rpx;
    .custom-navigation-left-item {
      width: 64rpx;
      height: 64rpx;
      .customBar_cont_arrow {
        width: 100%;
        height: 100%;
      }
    }
    .custom-navigation-center{
      flex: 1;
      text-align: center;
      font-size: 36rpx;
      font-weight: 500;
    }
  }
}